/* Body styles*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 4rem;
}
/* Hero styles*/
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

header h1 {
  font-size: 5vw;
}
.description{
  white-space: pre-wrap;
}


/*time-block styles*/

.row {
  height: 80px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border: 2px dashed;
  border-collapse: collapse;
  text-align: right; 
  height: 82px;
  box-shadow: 5px 0 5px -4px #888;
  z-index: 1;
}

.activity {
  height:78px;
  align-self: center;
  padding-left: 3px;
  padding-right: 3px;
}

.activity-text {
  border-color: rgba(0, 0, 0, 0);
  color: #000000;
  background: transparent;
  resize: none;
  padding: 10px;
}


    /*Time status audit styles*/
.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  height:78px;
  align-self: center;
  box-shadow: -5px 0px 5px -2px #888;
  z-index: 1;
}

.saveBtn:hover {
  color: black;
  transition: all .3s ease-in-out;
}


/* footer styles*/
footer {
  height: 5vh;
  border-top: solid 2px; 
}

/* media queries*/
/* screen sizes smaller than 768px */
@media screen and (max-width: 767px) {
  header h1 {
    font-size: 15vw;
  }

  .hour {
    padding-right: 3rem;
  }

  .activity {
    max-width: 70%;
  }
}

@media screen and (max-width: 400px) {
  header #date {
    font-size: 5vw;
    
  }
}